/* .App {
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.feature-posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.feature-news {
	margin: 20px 20px !important;
	max-height: 400px;
	overflow: hidden;
	padding: 3px;
}


::-webkit-scrollbar {
  display: none;
}


.jumbotron-img{
  width:250px;

}

.jumbotron-img img{
  object-fit: contain;

}

.post-container{
height:550px;
overflow-x: scroll;
overflow-y: hidden;
display: flex;
flex-wrap: nowrap;
}

.pointer{
  cursor: pointer;

}

/* new features css */

.post-container{
  height:230px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap:nowrap;
  margin-bottom: 20px;
  
  }
  .feature-image{
   width:45%;
    float:right;
    height:200px;
    object-fit: cover;
    position:absolute;
    right:0px;
    margin-left:10px;
  }
  .feature-text{
    width:55%;
    position:absolute;
    left:0px;
    text-overflow:ellipsis;
  
  }
  
  .feature-name{
  font-weight:bold;
  color:green;
  font-size:18px;
  
  }

